In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [4]:
df = pd.read_csv("Salaries.csv")

In [5]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   20       20    Male  122400
2   AssocProf          A   20       17    Male   81285
3        Prof          B   23       23    Male  134778
4    AsstProf          B    1        0    Male   88000
5        Prof          B   17        3    Male  150480
6    AsstProf          B    8        3    Male   75044
7    AsstProf          B    4        0    Male   92000
8        Prof          A   19        7    Male  107300
9        Prof          A   29       27    Male  150500
10   AsstProf          B    4        4    Male   92000
11       Prof          A   33       30    Male  103106
12   AsstProf          A    4        2    Male   73000
13   AsstProf          A    2        0    Male   85000
14       Prof          A   30       23    Male   91100
15   AsstProf          B    7        2    Male   91300
16       Prof          B   21       20    Male  123683
17  AssocProf          B    9        7    Male  107008
18       Prof          B   22       21    Male  155750
19  AssocProf          B   12        8    Male  119800
20       Prof          B   45       45    Male  146856
21   AsstProf          B    4        3    Male   91000
22       Prof          A   39       36  Female  137000
23  AssocProf          A   13        8  Female   74830
24       Prof          B   25       25  Female  140096
25   AsstProf          B   11        3  Female   74692
26  AssocProf          B   11       11  Female  103613
27       Prof          B   17       17  Female  111512
28   AsstProf          B   10        5  Female   97032
29       Prof          B   20       14  Female  127512
30       Prof          A   12        0  Female  105000
31   AsstProf          A    5        3  Female   73500
32   AsstProf          A    3        1  Female   72500
33       Prof          B   36       26  Female  144651
34  AssocProf          B   12       10  Female  103994
35   AsstProf          B    3        3  Female   92000
36       Prof          A   29       27  Female   91000
37  AssocProf          A   26       24  Female   73300
38       Prof          A   36       19  Female  117555
39   AsstProf          A    7        6  Female   63100
40       Prof          A   17       11  Female   90450
41   AsstProf          A    4        2  Female   77500
42       Prof          A   28        7  Female  116450
43   AsstProf          A    8        3  Female   78500
44  AssocProf          B   12        9  Female   71065
45       Prof          B   24       15  Female  161101
46       Prof          B   18       10  Female  105450
47  AssocProf          B   19        6  Female  104542
48       Prof          B   17       17  Female  124312
49       Prof          A   28       14  Female  109954
50       Prof          A   23       15  Female  109646

In [6]:
df.shape   #Number of rows, number of columns

(51, 6)

In [7]:
df.columns    #column names

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [8]:
df.index  #rownames

RangeIndex(start=0, stop=51, step=1)

In [9]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df.axes

In [ ]:
df.ndim

In [ ]:
df.values

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe() ###summary stats only for numerical data

In [ ]:
help(df.describe)

In [ ]:
df.describe(include=["object"])

In [ ]:
df.min(numeric_only=True)

In [ ]:
df.mean(numeric_only=True)

In [ ]:
df.std(numeric_only=True)

In [ ]:
#var,mean,median,skew,kurt,mode

In [ ]:
df.skew(numeric_only=True)

In [ ]:
df.kurt(numeric_only=True)

In [ ]:
df.mode()

## Accesing a column(s) from dataframe

In [ ]:
df.rank() #unable to fetch rank col because rank is a keyword in python

In [ ]:
df.salary.mean()

In [ ]:
df['rank']

In [ ]:
df[['rank','salary']]

In [ ]:
df[['rank','discipline',"salary"]]

In [ ]:
df['rank'].unique()

In [ ]:
df['discipline'].unique()

In [ ]:
df.discipline.nunique()

In [ ]:
df.discipline.value_counts()

In [ ]:
df.loc[:,["rank","discipline"]].value_counts()

In [ ]:
df['rank'].value_counts()

In [ ]:
lst=[56,89,56,899,14,23]
#lst.sort(reverse=True)
lst.reverse()#or lst[::-1]

In [ ]:
lst[-1::-1]

In [ ]:
df.sort_values(by="service",ascending=False)

In [ ]:
df.sort_values(by="rank",ascending=True)

In [ ]:
#unique,nunique,value_counts,select_dtypes,sort_values

In [ ]:
df['service'].sort_values(ascending=False)

In [ ]:
df_ran=df.select_dtypes(include=["object",'int64'])
df_ran

In [ ]:
df_obj=df.select_dtypes(include="object")
df_num=df.select_dtypes(include="number")     #number involves both int64 and float64

In [ ]:
df.columns

In [ ]:
df_obj

In [ ]:
df_num

In [ ]:
df_num2=df[['salary','service','phd']]
df_num2.head()

In [ ]:
df.mean(numeric_only=True)

In [ ]:
df_num.mean()

In [ ]:
df_num.mean()

In [ ]:
df_num.var()

In [ ]:
df_num.std()

In [ ]:
df_num.mode()

In [ ]:
df_num.median()

In [ ]:

df_obj.mode()

In [ ]:
df_num.salary.mean()

In [ ]:
df_num.salary.mode()[0]

In [ ]:
pd.Series([1,2,2,2,3,3,3,4,5,6,7,8]).mode()[1]

In [ ]:
df.groupby(['rank'])

In [ ]:
grouped=df.groupby(['rank'])

In [ ]:
grouped

In [ ]:
df

In [ ]:
for i,j in grouped:
  print(i)
  print(j)

In [ ]:
grouped.mean(numeric_only=True)

In [ ]:
grouped[['salary','service']].mean()

In [ ]:
round(40.3333333333,3)

In [ ]:
round(df.groupby('sex')['service'].mean(),2)

In [ ]:
df.groupby('discipline')['phd'].median()

In [ ]:
df.groupby('discipline')['service'].skew()

In [ ]:
type(grouped)

In [ ]:
df.salary>120000

In [ ]:
df[df.salary>120000]

In [ ]:
df[df.salary==150500]

In [ ]:
df[(df.salary>120000) & (df.sex=="Male")]

In [ ]:
import numpy as np
np.where(df.salary==150500)

In [ ]:
max_service=df['service'].max()

df[df['service']==max_service]

In [ ]:
df.salary.max()

In [ ]:
df.service.max()

In [ ]:
df[(df['salary']<80000) & (df['discipline']=='B')]

In [ ]:
len(df[(df['rank']=='Prof') | (df['salary']>=100000)])

In [ ]:
df.head()

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[1:4, 0:3]

In [ ]:
df.iloc[0:10].mean(numeric_only=True)

In [ ]:
df.iloc[0:2,:]

In [ ]:
df.iloc[:,[1,3,5]]

In [ ]:
df.iloc[:,-4]

In [ ]:
df.loc[:,'phd']

In [ ]:
df.loc[0:10,'rank':'service']

In [ ]:
df.loc[10:21,'phd':'salary']

In [ ]:
df.loc[:,['salary','phd']]

In [ ]:
df.loc[30:45,'phd':'salary']

In [ ]:
df.loc[0:10,:'sex'].describe()

In [ ]:
df.loc[df['service']==max_service,'salary']=200000

In [ ]:
df.loc[df['service']==max_service]

In [ ]:
df.phd.hist()

In [ ]:
round(df.phd.skew(),2)

In [ ]:
df['phd'].kurt()

In [ ]:
df.salary.mode()

In [ ]:
df.salary.mode()[0]

In [ ]:
df[['sex','rank']].mode()

In [ ]:
import pandas as pd

In [ ]:
data={'c1':[1,2,3,4,5],'c2':[6,7,8,9,10],'c3':[11,12,13,14,15]}
data

In [ ]:
dataframe=pd.DataFrame(data,index=[1,2,3,4,5])

In [ ]:
dataframe

In [ ]:
data=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
data

In [ ]:

df=pd.DataFrame(data,columns=['c1','c2','c3','c4','c5'],index=['r1','r2','r3'])
df

In [ ]:
round(23.445678,2)

In [ ]:
lst=[4,45,12,13,23,1,10,5]

In [ ]:
lst[:]

In [ ]:
lst[0]

In [ ]:
lst[1]

In [ ]:
lst[-4:-1]

In [ ]:
df

In [ ]:
df.iloc[0:5,0:5]

In [ ]:
df.iloc[15:18,0:3]

In [ ]:
df.loc[0:5,'phd']

In [ ]:
df.loc[40:,["salary",'service']]

In [ ]:
df.loc[43,["salary"]]=102222

In [ ]:
df.loc[43]

In [ ]:
df

In [ ]:
import pandas as ps

In [ ]:
data=[
    [1,2,3,4,5],
    [11,12,13,14,15],
    ["A","B","C","D","E"]
]

In [ ]:
ps.DataFrame(data)

In [ ]:
ps.DataFrame(data,index=['r1','r2','r3'],columns=['c1','c2','c3','c4','c5'])

In [ ]:
import pandas as pd

In [ ]:
dict={"k1":[1],"k2":[2],"k3":[3]}

In [ ]:
dict

In [ ]:
pd.DataFrame(dict)

In [ ]:
dict2={"c1":[1,2,3,4,5],"c2":["A","B","C","D","E"],"c3":[40,60,80,90,100]}

In [ ]:
df=pd.DataFrame(dict2)
df

In [ ]:
df2=pd.DataFrame(dict2,index=["r1","r2","r3","r4","r5"])
df2

In [ ]:
lst=[[1,"A","one"],[2,"B","Two"],[3,"C","Three"]]
lst

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(lst,columns=["c1","c2","c3"],index=[1,2,3])

In [ ]:
dict={"Name":("Ram","Raju","Rani","Sita","Sai"),"Marks":(50,56,68,84,78)}
dict

In [ ]:
df=pd.DataFrame(dict)
df

In [ ]:
df['City']=["Hyd","Blr","Hyd","Blr","Hyd"]

In [ ]:
df

In [ ]:
df.loc[5]=["A",45,"Hyd"]

In [ ]:
df

In [ ]:
df.drop(5,axis=0,inplace=True)  ##axis=0 , operating on row

In [ ]:
df

In [ ]:
a=3
print(f"the value is {a}")

In [ ]:
#https://drive.google.com/file/d/1-Hp1KPZ2xe8ZKoSm5tWA-254WcxRi89N/view?usp=sharing
file_id="1-Hp1KPZ2xe8ZKoSm5tWA-254WcxRi89N"
url=f"https://drive.google.com/uc?id={file_id}"
pd.read_csv(url)

In [ ]:
def square(x):
  return x**2

In [ ]:
square(2)+2

In [ ]:
def square2(x):
  print( x**2)

In [ ]:
square2(2)+2

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series(20)
s1

In [ ]:
s2=pd.Series([12,45,76,89,23,67,89])

In [ ]:
s2

In [ ]:
type(s2)

In [ ]:
s2.mean()

In [ ]:
s2.mode()

In [ ]:
lst=[
    [1001,"Apple",25],
    [1002,"Mango",26],
    [1003,"Grapes",25]
]

In [ ]:
lst

In [ ]:
import pandas as pd
df2=pd.DataFrame(lst)
df2

In [ ]:
df3=pd.DataFrame(lst,columns=["ID","Name","Age"])
df3

In [ ]:
df3=pd.DataFrame(lst,columns=["ID","Name","Age"],index=["A","B","C"])
df3

In [ ]:
df3.iloc[0,1]

In [ ]:
df3.loc["A","Name"]

In [ ]:
df3.to_csv("data.csv")

In [ ]:
df4=pd.read_csv("data.csv",index_col=0)

In [ ]:
df4

In [ ]:
#create a dataframe using dictionary
d1={
    "ID":[1001,1002,1003],
    "Names":["Apple","Mango","Grapes"],
    "Age":[25,26,25]
}

In [ ]:
d1

In [ ]:
data1=pd.DataFrame(d1)

In [ ]:
data1